@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css");
@import url("https://fonts.googleapis.com/css2?family=Rowdies:wght@300;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1170px;
  margin: auto;
  padding: 0 15px;
}

/* section header */
.section-header {
  text-align: center;
  margin-bottom: 50px;
}
.section-header .title {
  font-size: 45px;
  color: #2aaa94;
  font-family: "Rowdies", sans-serif;
  font-weight: bold;
  line-height: 55px;
}

.section-header .sub-title {
  font-size: 25px;
  color: #4e596b;
  font-family: "Inter", sans-serif;
  font-weight: 450;
  margin-top: 45px;
  line-height: 40px;
}

/* testimonials */
.testimonials {
  padding: 100px 0;
  background-image: url("./assets/bg.svg");
  /* background-image: linear-gradient(to top, #dbedff, #d6caf4); */
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.testimonials-slider {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  gap: 30px;
}

.testimonials-item {
  background-color: #ffff;
  padding: 30px;
  border-radius: 30px;
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.testimonials-item .info {
  display: flex;
  align-items: center;
}

.testimonials-item img {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  margin-right: 20px;
  vertical-align: middle;
}

.testimonials-item .name {
  font-size: 25px;
  font-weight: bold;
  color: #1d1d45;
  font-family: "Rowdies", sans-serif;
  line-height: 40px;
}

.testimonials-item p {
  margin-top: 20px;
  color: #7e7eaa;
}

.testimonials-item .rating {
  margin-top: 15px;
  font-size: 14px;
}

.testimonials-item .mobile-rating {
  display: none;
}

.testimonials-item .positive {
  color: #fab437;
}

.testimonials-item .negative {
  color: #cbc2ff;
}

.testimonials-item .rating {
  display: flex;
  align-items: center;
  gap: 5px;
}

/* tablet view */

@media (max-width: 768px) {
  .testimonials-item {
    width: 100%; /* Full width for mobile */
    max-width: none; /* Reset max-width */
  }
}

@media (max-width: 850px) {
  .testimonials-slider {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .testimonials-item {
    width: 100%; /* Full width for mobile */
    max-width: none; /* Reset max-width */
  }

  .testimonials {
    padding: 50px 0;
    /* background-image: url("./assets/bg.svg") ; */
    background-image: linear-gradient(to top, #dbedff, #d6caf4);
    /* height: 100vh; */
    height: 100%;
  }

  .section-header .title {
    font-size: 45px;
    color: #2aaa94;
    font-family: "Rowdies", sans-serif;
    font-weight: bold;
    line-height: 55px;
  }

  .section-header .sub-title {
    font-size: 15px;
    color: #4e596b;
    font-family: "Inter", sans-serif;
    font-weight: 300;
    margin-top: 10px;
    line-height: 10px;
  }

  .testimonials-item .rating {
    display: none;
  }

  .testimonials-item .mobile-rating {
    display: flex;
    align-items: center;
    gap: 5px;
  }

  .testimonials-item .text-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
}

@media (max-width: 480px) {
  .testimonials-slider {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .section-header .title {
    font-size: 45px;
    color: #2aaa94;
    font-family: "Rowdies", sans-serif;
    font-weight: bold;
    line-height: 55px;
  }

  .section-header .sub-title {
    font-size: 15px;
    color: #4e596b;
    font-family: "Inter", sans-serif;
    font-weight: 300;
    margin-top: 10px;
    line-height: 10px;
  }
}

/* get meadia query for max height and width */

@media screen and (max-width: 912px) and (min-height: 1368px) {
  .testimonials-slider {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .testimonials-item {
    width: 100%; /* Full width for mobile */
    max-width: none; /* Reset max-width */
  }

  .testimonials {
    padding: 50px 0;
    /* background-image: url("./assets/bg.svg") ; */
    background-image: linear-gradient(to top, #dbedff, #d6caf4);
    height: 100%;
  }

  .section-header .title {
    font-size: 45px;
    color: #2aaa94;
    font-family: "Rowdies", sans-serif;
    font-weight: bold;
    line-height: 55px;
  }

  .section-header .sub-title {
    font-size: 15px;
    color: #4e596b;
    font-family: "Inter", sans-serif;
    font-weight: 300;
    margin-top: 10px;
    line-height: 10px;
  }

  .testimonials-item .rating {
    display: none;
  }

  .testimonials-item .mobile-rating {
    display: flex;
    align-items: center;
    gap: 5px;
  }

  .testimonials-item .text-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
}
